    body { 
        background: url(/assets/background.webp);
    }

    div {
        padding: .25em;
        background-color: rgba(193, 193, 193, .4);
    }

    h1 { 
        margin: 300px auto; 
        text-align: center; 
        color: silver; 
        font-size: 8em; 
        transition: 0.5s; 
        font-family: sans-serif; 
        text-shadow:
            2px 2px white, 
            6px 6px rgba(50, 50, 50, .3);
    }

    p {
        font-family: sans-serif;
        font-size: 100%;
    }
